 .header-class {
    background-image: url(https://cf.ltkcdn.net/cocktails/images/orig/251453-2121x1414-non-alcoholic-cocktails.jpg);
    background-size: cover;
    height: 40vh;
 }
 h3 {
    text-transform: uppercase;
}
.card {
    border-radius: 0px;
    border: none;
}
.drinkClasses {
    margin: 20px 0;
    list-style-type: none;
    padding: 0;
}
.drinkInst {
    margin: 0 auto;
    width: 40%;
}

#footer-text {
    color: #fff;
    padding: 30px 0;
}